html {
  font-family: sans-serif;
}

.word-cloud {
  display: inline-block;
  height: 512px;
  margin: 10px;
  position: relative;
  width: 512px;
}

.word-cloud__word {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0;
  position: absolute;
  transition: all 1s ease;
}

.word-cloud__word--size--1 { font-size: 12px }
.word-cloud__word--size--2 { font-size: 18px }
.word-cloud__word--size--3 { font-size: 24px }
.word-cloud__word--size--4 { font-size: 30px }
.word-cloud__word--size--5 { font-size: 36px }
.word-cloud__word--size--6 { font-size: 42px }

.word-cloud-metadata {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.word-cloud-metadata__total-mentions {
  line-height: 300%;
}
.word-cloud-metadata__negative-mentions {
  color: $red;
}
.word-cloud-metadata__positive-mentions {
  color: $green;
}
